body {
    text-align: center;
    background-color: black;

}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#intro {
    background :linear-gradient(#7007e0 0% ,#f04ad1 100%)
}

#origami1 {
    background-color: lightcoral;
}

#origami2 {
    background-color: lightcoral;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.article {
    font-family: 'Handlee', cursive;
    font-weight: bolder;
}